
body {
  padding-top: 40px;
}

.with-margin {
  margin-bottom: 5px;
}

.spacer5 {
  height: 5px;
}

#nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	margin-top: 80px;
}

#nav li {
	display: inline;
}

#nav a {
	text-decoration: none;
	font-family: Cambria, serif;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.3em;
	color: #596365;
}

#nav a:hover {
	text-decoration: none;
	font-family: Cambria, serif;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.3em;
	color: #000;
}
